name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
        # make depends on uv
      - name: Install dependencies
        run: |
          pip install uv
          uv add PyYAML
          make install
      - name: Run linter
        run: |
          make lint
      - name: Run tests
        run: |
          make test
      - name: Run test coverage
        run: |
          make test-coverage
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=DashaChizh_python-project-50
            -Dsonar.organization=dashachizh
            -Dsonar.projectName="Python Project 50"
            -Dsonar.projectVersion=1.0
            -Dsonar.sources=gendiff
            -Dsonar.tests=tests
            -Dsonar.language=py
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.python.xunit.reportPath=test-results.xml
            -Dsonar.exclusions=**/__pycache__/**,**/*.pyc
            -Dsonar.coverage.exclusions=tests/**,**/__pycache__/**